@font-face {
  font-family: "Indie Flower";
  src: url("/assets/IndieFlower.ttf") format("truetype");
}
@font-face {
  font-family: "CaveatBrush-Regular";
  src: url("/assets/CaveatBrush-Regular.ttf");
}
*{
  padding: 0;
  margin: 0;
}
p,h1,h2,h3,h4,h5,h6{
  cursor: default;
}
body{
  background: url("/assets/wel.jpg") center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  font-size: 50px;
  font-family: "CaveatBrush-Regular";
  color: #333;
}

.contactCard{
  width: 85%;
  height: 250px;
  border: 1px solid black;
  margin-top: 12px;
  box-shadow: 4px 4px 5px grey;
  position:relative;
}

.contactCard:hover{
  box-shadow: 7px 7px 5px grey;
}

.circle {
	width: 100%;
	height: 80%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}

.imgContactCard{
  width: 100%;
  padding: 20%;
}

.cardInfoContact{
  width: 100%;
  padding-left: 30%;
  font-size: 20px;
  font-family: CaveatBrush-Regular;
}

.btnContactCard{
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-family: CaveatBrush-Regular;
}
.navbar-default{
  background-color: #EBEBEB;
  border: none;
  font-family: "CaveatBrush-Regular";
  font-size: 15px;
  border-bottom: 0.5px solid black;
  color:black;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a{
  color: #333;
  transition-duration: .5s;
}

.navbar-header .navbar-brand{
  color:black;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #bfbfbf;
  transition-duration: .3s;
}
