// Place all the styles related to the actors/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: "Indie Flower";
  src: url("/assets/IndieFlower.ttf") format("truetype");
}
@font-face {
  font-family: "CaveatBrush-Regular";
  src: url("/assets/CaveatBrush-Regular.ttf");
}
*{
  padding: 0;
  margin: 0;
}
p,h1,h2,h3,h4,h5,h6{
  cursor: default;
}
body{
  background: url("/assets/wel.jpg") center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  // font-size: 50px;
  font-family: "CaveatBrush-Regular";
}
.navbar-default{
  background-color: #EBEBEB;
  border: none;
  font-family: "CaveatBrush-Regular";
  font-size: 15px;
  border-bottom: 0.5px solid black;
  color:black;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a{
  color: #333;
  transition-duration: .5s;
}

.navbar-header .navbar-brand{
  color:black;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #bfbfbf;
  transition-duration: .3s;
}
.info-card{
  margin-top: 25px;
  // background-color: #bfbfbf;
  background-color: #EBEBEB;
  border: 1px solid black;
  // height: 300px;
  width: 230px;
  border-radius: 7px;
  text-align: center;
  padding-top: 7px;
}
.info-card img{
  border-radius: 5px;
}
.defaultWriteWay{
  margin-top: 5px;
  font-family:"CaveatBrush-Regular";
  font-size: 40px;
  margin-bottom: 0px;
}
.MidWriteWay{
  margin-top: 5px;
  font-family:"CaveatBrush-Regular";
  font-size: 20px;
}
.smWriteWay{
  font-family:"CaveatBrush-Regular";
  font-size: 10px;
  margin:0;
  padding:0;
}
#LogOut{
  margin-top: 5px;
  font-size: 30px;
}
#LogOut a{
  font-family:"CaveatBrush-Regular";
  color:#323232;
  text-decoration: none;
}
.container{
  padding-left: 10px;
}
.DayContent{
  width: 150px;
  height: 100px;
  border-radius: 7px 0 7px 0;
  margin-bottom: 10px;
  border: 1px solid black;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  background-color: #ebebeb;
  p{
    cursor: pointer;
  }
}
.dayInfoWithArrow{
  padding-top: 10px;
}
div.DayContent:hover{
  box-shadow: 10px 10px 5px grey;
}
.MoveLeft{
  margin-top: 30px;
  margin-right: 80px;
}
.MoveRight{
  margin-top: 3px;
  margin-left: 20px;
}
.DateOfLec p{
  display: inline;
}
.smWriteWay .editBtn{
  top:1;
  right: 2px;
  position: absolute;
}

.smWriteWay .editImg{
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  top:2px;
  right: 3px;
  position: absolute;
  background-color: transparent;
}

.smWriteWay .editImgLeft{
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  top:2px;
  left: 3px;
  position: absolute;
  background-color: transparent;
}
img.editImgLeft:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
img.editImg:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
.info-friends{
  padding: 7px;
  margin-top: 10px;
  background-color: #EBEBEB;
  border: 1px solid black;
  width: 230px;
  border-radius: 7px;
}

.info-friends ul li{
  list-style-type: none;
  margin-top: 7px;
}

.info-friends ul li p{
  display: inline;
  font-family: "CaveatBrush-Regular";
  margin-left: 10px;
  font-size: 20px;
}

.info-friends ul li p a:hover{
  text-decoration: none;
}
.circle {
	width: 35%;
	height: 35%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}

#arrow_drop_slots_right{

  display: inline-block;
  margin-left: 7px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid transparent;
  border-left: 9px solid #939393;
}

#arrow_drop_slots_down{
  display: inline-block;
  margin-left: 7px;
  width: 0;
  height: 0;
  border-top: 9px solid #939393;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

span#arrow_drop_slots_down:hover{
  border-top: 9px solid #3f3f3f;
}

span#arrow_drop_slots_right:hover{
  border-left: 9px solid #3f3f3f;
}

.hiddenDay{
  display: none;
  transition-duration: 2s;
}

.textOverFlow{
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    font-family: CaveatBrush-Regular;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
