// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: "Indie Flower";
  src: url("/assets/IndieFlower.ttf") format("truetype");
}
@font-face {
  font-family: "CaveatBrush-Regular";
  src: url("/assets/CaveatBrush-Regular.ttf");
}
.container{
  // position: relative;
}
.loginForm{
  // position: absolute;
  // top:50%;
  // left:43%;
  h1{
    font-family: "CaveatBrush-Regular";
    font-size: 50px;
    text-align: center;
  }

  .sub_btn{
    font-family: "CaveatBrush-Regular";
    font-size: 18px;
  }

  a{
    color: black;
    font-family: "CaveatBrush-Regular";
  }
}
.form-actions{
  margin: 0;
  background-color: transparent;
  text-align: center;
}
